<%- include('partials/header') %>
<main>
    <h1 class="main-title text-center m-3 color"><strong>Nơi lưu trữ thông tin về giá bán</strong></h1>
    <br>
    <h2>Cách dùng:</h2>
    <div class="instructions-list">
        <div class="instruction-item">
            <h3>Tính năng</h3>
            <div class="video-container">
                <iframe width = "560" height = "315" src = "https://www.youtube.com/embed/4kYHjv1gk0A" title = "YouTube video player" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="instruction-item">
            <h3>Tính năng</h3>
            <div class="video-container">
                <iframe width = "560" height = "315" src = "https://www.youtube.com/embed/4kYHjv1gk0A" title = "YouTube video player" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>