<%- include('partials/header') %>
<main>
    <h1 class="main-title text-center m-3 color">Nơi lưu trữ thông tin về giá bán</h1>
    <br>
    <h3>Cách dùng:</h3>
    <ul>
        <li>
            <p>Tính năng</p>
            <div class="video-container">
                <iframe width = "560" height = "315" src = "https://www.youtube.com/embed/4kYHjv1gk0A" title = "YouTube video player" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>
        <li>
            <p>Tính năng</p>
            <div class="video-container">
                <iframe width = "560" height = "315" src = "https://www.youtube.com/embed/4kYHjv1gk0A" title = "YouTube video player" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</main>
<%- include('partials/footer') %>