<%- include('partials/header') %>
<main>
    <h1 class="main-title text-center m-3 color"><strong>Nơi lưu trữ thông tin về giá bán</strong></h1>
    <br>
    <div>
        <img src="https://tonthephobac.vn/upload/hinhanh/9241888177.jpg" alt="Banner công ty" class="img-fluid rounded mx-auto d-block" style="max-height: 100%; max-width: 100%;">
    </div>
    <hr>
    <div class="instructions-list">
        <div class="instruction-item">
            <h3>Hướng dẫn sử dụng trang <strong>Nhóm hàng</strong></h3>
            <div class="video-container">
                <iframe width = "560" height = "315" src = "https://www.youtube.com/embed/Rdu-Ux8GWig" title = "YouTube video player" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="instruction-item">
            <h3>Hướng dẫn sử dụng trang <strong>Mặt hàng</strong></h3>
            <div class="video-container">
                <iframe width = "560" height = "315" src = "https://www.youtube.com/embed/TvXykf9XzJY" title = "YouTube video player" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>